@charset "utf-8";
/* CSS Document */

a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	}

html, body
{
	padding:0px;
	margin:0px;
	color:#000000;
	width:100%;
	height:100%;
	-webkit-text-size-adjust:none;
	color:white;
	background-repeat:no-repeat;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

div
{
	padding:0px;
	margin:0px;	
}

.pixelBlock
{
	width:1px;
	height:1px;
	opacity:0;
	position:absolute;
	left:0px;
	right:0px;
	z-index:-1;
	overflow:hidden;	
}

.quickBar
{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:rgba(0,0,0,.25);
	overflow:hidden;
}

.hdpi .quickBar{height:72px;	}
.xhdpi .quickBar{height:96px;	}




.desktop
{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	overflow: hidden;	
}

.hdpi .desktop{bottom:72px;		}
.xhdpi .desktop{bottom:96px;	}





.appPanel
{
	display:none;
	position:absolute;
	left:0px;
	right:0px;
	
	top:0px;
	background-color:#000000;
	z-index:99;	
	overflow:scroll;
}

.hdpi .appPanel{padding-left:10px;	bottom:72px;}
.xhdpi .appPanel{padding-left:10px;	bottom:96px;}


.appPanel + .apppanelControls
{
	display:none;
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background-color:#000000;
	z-index:99;	
	overflow:hidden;
	-webkit-box-shadow: 0px -5px 2px 2px rgba(0, 0, 0, .4);	
}

.hdpi .appPanel + .apppanelControls{padding-left:10px;	height:72px;}
.xhdpi .appPanel + .apppanelControls{padding-left:10px;	height:96px;}

.apppanelControls span
{
	position:absolute; 
	left:0px; 
	right:50%; 
	top:0px; 
	bottom:0px; 
	text-align:center;
	border-top:5px solid #ffffff;
}

.apppanelControls span:last-child{border-left:5px solid #ffffff; left:50%; right:0px;	}

.hdpi .apppanelControls span{line-height:72px; font-size:24px;	}
.xhdpi .apppanelControls span{line-height:96px; font-size:24px; }





.appPanel .app
{
	margin-left:auto;
	margin-right:auto;	
}

.hdpi .appPanel .app{margin-top:5px;  margin-bottom:30px;  margin-right:20px;		}
.xhdpi .appPanel .app  {margin-top:10px;  margin-bottom:40px;	margin-right:40px;	}










.app
{
	background-position:left top;
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
	display: inline-block;
}

.hdpi .app{width:72px;  height:72px;	}
.xhdpi .app{width:96px;	height:96px;	}




.app span
{
	position:absolute;
	text-align:center;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	background-color:rgba(0,0,0,.75);
}
.hdpi .app span{bottom:-30px;	left:-5px; right:-5px;	height:20px; border-radius:5px; padding:5px;	}
.xhdpi .app span{bottom:-30px;  left:-5px;  right:-5px;	height:20px;  border-radius:5px;  padding:5px;	}



.row
{
	z-index:2;
}
.hdpi .row{margin-left:10px; margin-right:10px; margin-top:5px; margin-bottom:5px;  height:72px;	}
.xhdpi .row{margin-left:10px; margin-right:10px; margin-top:5px; margin-bottom:5px;  height:96px;	}

.row img
{
	width:auto;
	height:100%;
}







.desktop .app
{
	margin-right:20px;	
}
.hdpi .desktop .app{margin-right:20px;	}
.xhdpi .desktop .app{margin-right:20px;	}









#data_cellSignal, #data_wifiSignal, #data_batteryLevel, #value_missedCalls, #value_unreadSMS, #value_ringerVol, #value_mediaVol, #btn_autoBrightness, #slider_Brightness, #value_Brightness
{
	background-color:rgba(0,0,0,.75);
	text-align:center;
	overflow:hidden;
}

.hdpi #data_cellSignal, .hdpi #data_wifiSignal, .hdpi #data_batteryLevel, #value_missedCalls, #value_unreadSMS, #value_ringerVol, #value_mediaVol, #btn_autoBrightness, #slider_Brightness, #value_Brightness
{
	margin-top:10px;
	border-radius:31px;
	font-size:32px;
	padding:15px;
	line-height:32px;
	margin-left:10px;
	margin-right:10px;	
}

.xhdpi #data_cellSignal, .xhdpi #data_wifiSignal, .xhdpi #data_batteryLevel, #value_missedCalls, #value_unreadSMS, #value_ringerVol, #value_mediaVol, #btn_autoBrightness, #slider_Brightness, #value_Brightness
{
	margin-top:10px;
	border-radius:31px;
	font-size:32px;
	padding:15px;
	line-height:32px;
	margin-left:10px;
	margin-right:10px;	
}


.swiper {
	
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  z-index:1;
  overflow:hidden;
}


.innerWrapper
{
	position:absolute; 
	left:0px; 
	top:0px; 
	bottom:0px; 
	right:0px;
	padding:25px;
}




/*Clock CSS
	http://css-tricks.com/css3-clock/
	PUBLISHED NOVEMBER 17, 2008
	Toby Pitman http://www.tobypitman.com/
*/
#clock 
{
	position: absolute;
	top:10px;
	right:25px;
	width: 600px;
	height: 600px;
	background: url(file:///mnt/sdcard/DOMLauncher/testing/clockface.png);
	background-position:center center;
	background-repeate:no-repeat;
	list-style: none;
	zoom:.75;
}

#sec, #min, #hour 
{
	position: absolute;
	width: 30px;
	height: 600px;
	top: 0px;
	left: 305px;
	background-position:center center;
	background-repeate:no-repeat;
}

#sec 
{
	background: url(file:///mnt/sdcard/DOMLauncher/testing/sechand.png);
	z-index: 3;
}
   
#min 
{
	background: url(file:///mnt/sdcard/DOMLauncher/testing/minhand.png);
	z-index: 2;
}
   
#hour 
{
	background: url(file:///mnt/sdcard/DOMLauncher/testing/hourhand.png);
	z-index: 1;
}




.ui-slider { position: relative; overflow:hidden; border-radius:31px; height:32px;}
.ui-slider .ui-slider-handle { 
	position: absolute; z-index: 2; border-radius:31px; width:100px; top:0px; width:0px; bottom:0px; display:block; 
}

.ui-slider-handle div {position:absolute; width:90px; border-radius:31px; bottom:0px;  top:0px; background-color:white; border:solid 5px grey;}
.ui-slider .ui-slider-range { position: absolute; z-index: 1;  display: block; border: 0; background-position: 0 0;}


.ui-slider-range { top: 0; height:32px; }
.ui-slider-range-min { left: 0; }
.ui-slider-range-max { right: 0; }
